.formaulario {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 80px 50px;
    width: 80vw;
}

.formaulario form {
    flex: 1;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 8px, 8px, 8px rgba(0, 0, 0, 0.08);
}

.formaulario h2 {
    text-align: center;
}

@media (max-width: 900px) {
    .formaulario {
        flex-direction: column;
    }
}

@media (max-width: 800px) {
    .formaulario {
        margin: 30px 50px;
    }
}

@media (max-width: 480px) {
    .formaulario h2 {
        font-size: 18px;
        text-align: center;
    }

    .formaulario form {
        padding: 10px 25px;
    }
}